# Parsing
requests-html==0.10.0
lxml-html-clean==0.4.1
beautifulsoup4==4.13.3
selenium==4.30.0

# EDA
plotly==6.0.1
fiftyone==1.4.0
pandas==2.2.3

opencv-python==4.10.0.84
qdrant-client==1.13.3
transformers==4.51.1
torch==2.5.0
torchvision==0.20.0
ultralytics==8.3.111
ultralytics-thop==2.0.14
